div.maincontainer {
	margin-left: auto;
	margin-right: auto;
	width: 870px; 
}

div.navcontainer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 900px;
}

div.event-small{
	border-style: double;
	border-width: 2px;
	border-radius: 8px;
	border-color: #2980B9;
	width: 200px;
	margin: 8px;
	float: left;

}

div.event-pic-small{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

img.event-pic-small{
	margin: 3px;
	width: 150px;
	height: 200px;
	display: block;
}

div.event-title-small{
	margin-right: 15px;
	margin-left: 15px;
}

div.event-detail-basic{
	display: block;
}

img.event-detail-image{
	width: 210px;
	height: 280px;
	padding: 10px;
	float: left;
}

div.event-detail-info{
	height: 280px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	overflow: hidden;
	display: block;
}

div.event-detail-detail-text{
}