<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Easy Apply</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{url_for('static', filename="images/favicon.ico")}}">
        <link href="{{url_for('static', filename="bootstrap/css/bootstrap.css")}}" rel="stylesheet">
        <link href="{{url_for('static', filename="css/flat-ui.css")}}" rel="stylesheet">
        <link href="{{url_for('static', filename="css/easy-apply.css")}}" rel="stylesheet" >
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="{{url_for('static', filename="js/html5shiv.js")}}" />
        <![endif]-->
    </head>
    <body>
        <!-- navigation bar -->
        <div class="navbar navbar-inverse navcontainer">
            <div>
                <ul class="nav navbar-left">
                    <li><a>Easy Apply</a></li>
                </ul>
                <ul class="nav navbar-right">
                    <li><a>Sign Up</a></li>
                    <li><a>Sign In</a></li>
                    <li><a>My Account</a>
                        <ul>
                            <li><a>SR1</a></li>
                            <li><a>Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="maincontainer">
            <div class="event-detail-basic">
                <img class="event-detail-image" src="{{url_for('static', filename="test-images/test.png")}}" />
                <div class="event-detail-info">
                    <h4>Communication of December</h4>
                    <hr />
                    <div >
                        <span >Date: 2013-12-08 08:30 pm</span>
                    </div>
                    <div >
                    <span >Organization: League of Tech</span>
                    </div>
                    <div >
                    <span >Quota: 8</span>
                    </div>
                    <div >
                        <span >Status: 8 Availabe</span>
                    </div>
                    <div>
                        <button class="btn btn-info ">Mark for Later</button>
                        <a class="btn btn-primary ">Join Now!</a>
                    </div>
                </div>
            </div>
            <div class="event-detail-detail-text">
                <h4>More Information</h4>
                <hr />
                <h5>Introduce</h5>
                <p>
                    Communication of December is a monthly event hold by League of Tech.
                </p>
                <p>
                    In the event we will share what we learn or what we found intrest last month, in this case, you are welcome if you have something to share with us.
                </p>
                <h5>The topic of this event this month is:</h5>
                <ul>
                    <li>How to build a Desktop Application using Java - By YanYicheng</li>
                    <li>Probability theory practise on programing- By YanYinqing</li>
                    <li>How to design a not bad webpage- By PanJunchi</li>
                </ul>
            </div>
        </div>

        <!-- Load JS here for greater good =============================-->
        <script src="{{url_for('static', filename="js/jquery-1.8.3.min.js")}}" ></script>
        <script src="{{url_for('static', filename="js/jquery-ui-1.10.3.custom.min.js")}}" ></script>
        <script src="{{url_for('static', filename="js/jquery.ui.touch-punch.min.js")}}" ></script>
        <script src="{{url_for('static', filename="js/bootstrap.min.js")}}" ></script>
        <script src="{{url_for('static', filename="js/bootstrap-select.js")}}" ></script>
        <script src="{{url_for('static', filename="js/bootstrap-switch.js")}}" ></script>
        <script src="{{url_for('static', filename="js/flatui-checkbox.js")}}" ></script>
        <script src="{{url_for('static', filename="js/flatui-radio.js")}}" ></script>
        <script src="{{url_for('static', filename="js/jquery.tagsinput.js")}}" ></script>
        <script src="{{url_for('static', filename="js/jquery.placeholder.js")}}" ></script>
    </body>
</html>